.detalhes-button{
  background-color: #F44336;
  color: #fff;
  width: 100%;
}

.background-color-img-pokemon{
  background-color: #ccc;
}

.type-style{
  padding: 2px 8px;
  border-radius: 12px;
  color: white;
}

.posicao-favorito{
  position: absolute;
  left: 8px;
  top: 4px;
}

.posicao-batalha{
  position: absolute;
  width: 24px;
  right: 8px;
  top: 6px;
}

.cor-favorito{
  color: #ff0000;
}

span.grass{
  background-color: green;
}

span.poison{
  background-color: purple;
}

span.water{
  background-color: #6E8BC6;
}

span.fire{
  background-color: #F17F2D;
}

span.flying{
  background-color: #9E8FC5;
}

span.bug{
  background-color: #AABA39;
}

span.normal{
  background-color: #ACAA7A;
}
