<div class="background-principal">
  <div class="w-100 d-flex justify-content-between align-items-center header">
    <div class="d-flex flex-column">
      <h1>Pokédex Digital</h1>
      <p>Explore o mundo dos Pokémon com nossa Pokédex interativa. Descubra <br/>
      informações detalhadas sobre cada criatura.
      </p>
    </div>

    <button class="text-white logout-button d-flex flex-column align-items-center justify-content-center" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
    </button>
  </div>

  <div class="w-100 d-flex pokemons-info gap-5">
    <div *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate" diameter="60" color="accent"></mat-progress-spinner>
    </div>

    <div class="d-flex flex-column align-items-center" *ngIf="!isLoading">
      <span class="pokemons-info-numbers">{{pokemons.length}}</span>
      <span>Pokémon</span>
    </div>
    <div class="d-flex flex-column align-items-center" *ngIf="!isLoading">
      <span class="pokemons-info-numbers">{{getQtdTipos()}}</span>
      <span>Tipos</span>
    </div>
  </div>

  <div class="pokemon-cards-container d-flex flex-column gap-3">
    <span class="fw-bold fs-5">Pokémons descobertos</span>

    <div class="d-flex gap-3">
      <button
      mat-flat-button
      [color]="filtroAtual === 'todos' ? 'primary' : ''"
      (click)="carregarPokemons('todos')"
      [disabled]="isLoading"
      >Todos</button>
      <button
      mat-flat-button
      [color]="filtroAtual === 'favoritos' ? 'accent' : ''"
      (click)="carregarPokemons('favoritos')"
      [disabled]="isLoading"
      >Favoritos</button>
      <button
      mat-flat-button
      [color]="filtroAtual === 'batalha' ? 'warn' : ''"
      (click)="carregarPokemons('batalha')"
      [disabled]="isLoading"
      >Grupo de Batalha</button>
    </div>

    <div *ngIf="isLoading" class="w-100 d-flex justify-content-center align-items-center">
      <mat-progress-spinner mode="indeterminate" diameter="60" color="warn"></mat-progress-spinner>
    </div>


    <div class="d-flex flex-wrap gap-4" *ngIf="!isLoading">

      <div *ngIf="pokemons.length < 1" class="w-100 d-flex justify-content-center pt-5">
        <span class="fw-bold">{{getMessageSemPokemons()}}</span>
      </div>

      <app-pokemon-card
      class="pokemon-card-width"
      *ngFor="let p of pokemons"
      [pokemon]="p"
      (pokemonUpdated)="onPokemonUpdated($event)"
      ></app-pokemon-card>
    </div>
  </div>
</div>
